.catalog .title {
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
}
.catalog__tabs {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  border: solid 2px #d0d0d0;
  border-color: #d0d0d0;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #c70101;
  box-shadow: 3px 3px 20px #c70101;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 440px);
  gap: 20px;
}
.catalog__content_active {
  display: grid;
}
.catalog__content hr {
  margin: 10px auto;
  width: 260px;
  background-color: #e8e8e8;
}
.catalog-item {
  width: 300px;
  height: 440px;
  border: solid 2px #e8e8e8;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 40px;
}
.catalog-item__footer button {
  width: 130px;
  height: 40px;
  margin: 0;
  margin-right: 20px;
}
.catalog-item__prices {
  margin-left: 20px;
  width: 97px;
}
.catalog-item__old-price {
  text-align: left;
  color: #555;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 300;
  padding-top: 0;
  margin-bottom: 0;
}
.catalog-item__new-price {
  text-align: left;
  width: 97px;
  color: #050505;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
}
.catalog-item img {
  display: block;
  margin: 10px auto;
}
.catalog-item__subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #0d0d0d;
  margin-top: 20px;
  margin-bottom: 16px;
}
.catalog-item__descr {
  font-size: 14px;
  font-weight: 300;
  color: #0d0d0d;
  margin-bottom: 16px;
}
.catalog-item__about {
  height: 21px;
}
.catalog-item__link {
  display: block;
  line-height: 10px;
  position: relative;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  width: 50%;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  list-style-type: none;
  margin-right: 35px;
  margin-top: 18px;
  position: relative;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #555;
  position: relative;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 7px;
}
.catalog-item__list a {
  display: block;
  line-height: 10px;
  position: relative;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 316px;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: 0px;
}