@media (max-width: 425px) {
  .footer__info {
    width: 100% !important;
  }
  .footer__icons {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .footer__circle {
    margin: 0 !important;
  }
}
.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  width: 460px;
  height: 270px;
  background-color: #c70101;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 50px 68px 60px 68px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
}
.footer__tel {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
.footer__tel::after {
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  top: 100%;
  left: 0;
}
.footer__tel:hover::after {
  width: 100%;
}
.footer__address {
  margin-bottom: 36px;
}
.footer__icons {
  height: 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__circle {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: transparent;
}
.footer__circle:first-child {
  margin-left: 58px;
}
.footer__circle:first-child img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer__circle:nth-child(2) {
  margin-left: 30px;
}
.footer__circle:nth-child(2) img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer__circle:last-child {
  margin-left: 30px;
}
.footer__circle:last-child img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}