@media (max-width: 768px) {
  .promo {
    width: 100% !important;
  }
  .promo__wrapper {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .promo__icons {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    gap: 40px !important;
  }
  .promo__consultation, .promo__button {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .running-man-2-64 {
    width: 100% !important;
  }
  .header {
    width: 100% !important;
  }
  .header__official {
    font-size: 10px;
  }
  .header__phone button {
    width: 100px !important;
    font-size: 10px !important;
  }
  .garmin, .header__phone {
    font-size: 10px !important;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100% !important;
  }
  .header__official {
    font-size: 14px;
  }
  .header__phone button {
    width: 150px !important;
    font-size: 14px !important;
  }
  .garmin, .header__phone {
    font-size: 16px !important;
    text-align: center;
  }
}
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/bg1.jpg") center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header, .promo__subheader {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.promo__header {
  font-size: 42px;
  font-weight: 700;
}
.promo__subheader {
  font-size: 24px;
}
.promo__icons {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 90px;
  margin-top: 70px;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.promo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.promo__button .button {
  padding: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 18px;
  width: 300px;
  height: 50px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.promo__button .button:hover {
  background-color: rgb(148.255, 0.745, 0.745);
}
.promo__consultation {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #fff;
  font-size: 16px;
}
.promo__consultation a {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}
.header__official {
  text-align: center;
}
.header__official p {
  font-size: 18px;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__phone a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.header__phone a:hover {
  font-size: 1.01em;
  text-decoration: underline;
}
.header__phone button {
  padding: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  width: 150px;
  height: 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.header__phone button:hover {
  background-color: rgb(148.255, 0.745, 0.745);
}

.button {
  padding: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.button:hover {
  background-color: rgb(148.255, 0.745, 0.745);
}

.consultation_button {
  padding: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  width: 300px;
  height: 55px;
  font-size: 16px;
}
.consultation_button:hover {
  background-color: rgb(148.255, 0.745, 0.745);
}

.advantages {
  min-height: 470px;
  padding: 70px 0 78px 0;
  background-color: #f6f6f6;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 65px 0 78px 0;
}
.advantages__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding: 38px 0 26px 0;
}
.advantages__title {
  color: #0d0d0d;
  text-align: center;
  font-size: 14px;
}
.advantages__title a {
  color: #ff0000;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container h2 {
  text-align: center;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/bg2.jpg") center center/cover no-repeat;
}
.consultation__title {
  color: #fff;
  text-align: left !important;
  font-size: 36px;
  font-weight: bold;
}
.consultation__descr {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #fff;
  padding: 80px 0 36px 0;
}
.consultation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
}
.consultation__input {
  width: 300px;
  height: 50px;
  border: none;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #4b4b4b;
  padding: 20px 0 18px 20px;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 375px) and (max-width: 768px) {
  .consultation__form {
    width: 350px;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin: 0 auto;
  }
  .consultation__input {
    width: 350px !important;
  }
  .consultation button {
    text-align: center !important;
    margin: 0 auto;
  }
}
@media (width: 768px) {
  .consultation__form {
    margin: 0;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
}
.carousel {
  padding: 81px 0 108px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  height: 527px;
  margin: 0 auto;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  border: none;
  background-color: #fff;
}
.carousel .slick-prev {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: -66px;
}
.carousel .slick-next {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  right: -66px;
}
.carousel .slick-next img {
  height: 50px;
  width: 30px;
}

@media (max-width: 768px) {
  .carousel__inner {
    width: 50% !important;
    height: 50% !important;
  }
  .carousel__inner .slide {
    width: 100% !important;
  }
}
@media (max-width: 425px) {
  .carousel__inner {
    width: 65% !important;
    height: 50% !important;
  }
  .carousel .slick-next {
    right: -95px;
  }
  .carousel .slick-next .slide {
    width: 100% !important;
  }
}
@media (max-width: 320px) {
  .carousel .slick-prev {
    left: -45px;
  }
  .carousel .slick-next {
    right: -75px;
  }
}
@media (max-width: 768px) {
  .catalog__tab, .catalog__tab_active {
    font-size: 12px !important;
  }
  .catalog__content_active {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}
.catalog .title {
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
}
.catalog__tabs {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  border: solid 2px #d0d0d0;
  border-color: #d0d0d0;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #c70101;
  box-shadow: 3px 3px 20px #c70101;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 440px);
  gap: 20px;
}
.catalog__content_active {
  display: grid;
}
.catalog__content hr {
  margin: 10px auto;
  width: 260px;
  background-color: #e8e8e8;
}
.catalog-item {
  width: 300px;
  height: 440px;
  border: solid 2px #e8e8e8;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 40px;
}
.catalog-item__footer button {
  width: 130px;
  height: 40px;
  margin: 0;
  margin-right: 20px;
}
.catalog-item__prices {
  margin-left: 20px;
  width: 97px;
}
.catalog-item__old-price {
  text-align: left;
  color: #555;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 300;
  padding-top: 0;
  margin-bottom: 0;
}
.catalog-item__new-price {
  text-align: left;
  width: 97px;
  color: #050505;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: bold;
}
.catalog-item img {
  display: block;
  margin: 10px auto;
}
.catalog-item__subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #0d0d0d;
  margin-top: 20px;
  margin-bottom: 16px;
}
.catalog-item__descr {
  font-size: 14px;
  font-weight: 300;
  color: #0d0d0d;
  margin-bottom: 16px;
}
.catalog-item__about {
  height: 21px;
}
.catalog-item__link {
  display: block;
  line-height: 10px;
  position: relative;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  width: 50%;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  list-style-type: none;
  margin-right: 35px;
  margin-top: 18px;
  position: relative;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #555;
  position: relative;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 7px;
}
.catalog-item__list a {
  display: block;
  line-height: 10px;
  position: relative;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 316px;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  margin-left: 0px;
}

@media (max-width: 425px) {
  .reviews__item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .reviews__text {
    margin: 0 !important;
  }
  .reviews__text_name {
    padding-top: 15px;
  }
  .reviews__text_name, .reviews__text_marathon {
    text-align: center;
  }
  .reviews__text img {
    margin: 0 auto;
  }
}
.reviews {
  padding-bottom: 69px;
}
.reviews hr {
  margin: 0;
}
.reviews__title {
  padding-top: 103px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  color: #0d0d0d;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 70px;
  padding-bottom: 48px;
}
.reviews__item:last-child {
  padding-bottom: 0;
}
.reviews__item img {
  height: 169px;
  width: 169px;
}
.reviews__text {
  margin-left: 62px;
  text-align: left;
}
.reviews__text_name {
  font-size: 18px;
  font-weight: bold;
  color: #0d0d0d;
}
.reviews__text_marathon {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
  margin: 10px 0 19px 0;
}
.reviews__text_descr {
  font-size: 16px;
  font-weight: 300;
  color: #0d0d0d;
}

@media (max-width: 425px) {
  .footer__info {
    width: 100% !important;
  }
  .footer__icons {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .footer__circle {
    margin: 0 !important;
  }
}
.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  width: 460px;
  height: 240px;
  background-color: #c70101;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 50px 68px 60px 68px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
}
.footer__tel {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
.footer__tel::after {
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  top: 100%;
  left: 0;
}
.footer__tel:hover::after {
  width: 100%;
}
.footer__address {
  margin-bottom: 36px;
}
.footer__icons {
  height: 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__circle {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: transparent;
}
.footer__circle:first-child {
  margin-left: 58px;
}
.footer__circle:first-child img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer__circle:nth-child(2) {
  margin-left: 30px;
}
.footer__circle:nth-child(2) img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer__circle:last-child {
  margin-left: 30px;
}
.footer__circle:last-child img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Museo Sans Cyrl", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
}