@media (max-width: 768px) {
  .promo {
    width: 100% !important;
  }
  .promo__wrapper {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .promo__icons {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    gap: 40px !important;
  }
  .promo__consultation, .promo__button {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .running-man-2-64 {
    width: 100% !important;
  }
  .header {
    width: 100% !important;
  }
  .header__official {
    font-size: 10px;
  }
  .header__phone button {
    width: 100px !important;
    font-size: 10px !important;
  }
  .garmin, .header__phone {
    font-size: 10px !important;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100% !important;
  }
  .header__official {
    font-size: 14px;
  }
  .header__phone button {
    width: 150px !important;
    font-size: 14px !important;
  }
  .garmin, .header__phone {
    font-size: 16px !important;
    text-align: center;
  }
}
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/bg1.jpg") center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header, .promo__subheader {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.promo__header {
  font-size: 42px;
  font-weight: 700;
}
.promo__subheader {
  font-size: 24px;
}
.promo__icons {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 90px;
  margin-top: 70px;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.promo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.promo__button .button {
  padding: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 18px;
  width: 300px;
  height: 50px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.promo__button .button:hover {
  background-color: rgb(148.255, 0.745, 0.745);
}
.promo__consultation {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #fff;
  font-size: 16px;
}
.promo__consultation a {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}
.header__official {
  text-align: center;
}
.header__official p {
  font-size: 18px;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__phone a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.header__phone a:hover {
  font-size: 1.01em;
  text-decoration: underline;
}
.header__phone button {
  padding: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  width: 150px;
  height: 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.header__phone button:hover {
  background-color: rgb(148.255, 0.745, 0.745);
}

.advantages {
  min-height: 470px;
  padding: 70px 0 78px 0;
  background-color: #f6f6f6;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 65px 0 78px 0;
}
.advantages__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding: 38px 0 26px 0;
}
.advantages__title {
  color: #0d0d0d;
  text-align: center;
  font-size: 14px;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container h2 {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Museo Sans Cyrl", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
}